@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.error {
  border: 1px solid red;
}

.none {
  display: none;
}

.visible {
  display: block;
}

.p-visible {
  display: block;
  padding: 1rem;
  background-color: blueviolet;
  border-radius: 30%;
}
img {
  width: 24px;
  height: 24px;
  display: none;
}

main {
  min-width: 100%;
}
